<div class="container">
  <!-- <div class="loader" *ngIf="isLoading"></div> -->
  <h1 class="page-title">Route Details <i class="fas fa-route"></i></h1>

  <!-- Route Details Section -->
  <div class="route-details" *ngIf="selectedRoute">
    <!-- Section 1: Map Display -->
    <div class="route-map card">
      <h2><i class="fas fa-map"></i> Route Map</h2>
      <div id="map"></div>
    </div>

    <div class="location-info">
      <p><strong>From:</strong> {{ fromQuery || stopName}}</p>
      <p><strong>To:</strong> {{ toQuery || stopName}}</p>
    </div>
  </div>

  <div *ngIf="firstTwoBuses.length > 0" class="directions-wrapper card">
    <h3><i class="fas fa-bus"></i> Buses Available from {{ fromQuery }}:</h3>
    <ul>
      <li *ngFor="let bus of firstTwoBuses" (click)="onBusClick()" style="color: red;">
        <i class="fas fa-arrow-right"></i> {{ bus }} leaves in 5 minutes
      </li>
    </ul>
  </div>

  <!-- Section 3: Stops Breakdown -->
  <div *ngIf="stopsAlongTheWays" class="popup-overlay">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <h3><i class="fas fa-directions"></i> Stops along the way</h3>
        <button class="close-btn" (click)="onClosePopup()">✖</button>
      </div>
      <ul class="stop-list">
        <li *ngFor="let stop of selectedBuses;let i = index" class="stop-item">
          <i class="fas fa-map-marker-alt"></i>
          <strong>Stops: </strong>
          <span *ngIf="i === 0">Starts at {{fromQuery}}</span>
          <span *ngIf="i !== 0 && i !== selectedBuses.length -1">{{stop}}</span>
          <span *ngIf="i === selectedBuses.length -1">Arrives at {{toQuery}}</span>
        </li>
      </ul>
    </div>
  </div>
  
</div>
