/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(14, 63, 11);
  }
  footer{
    /* margin-top: 400px; */
  }
  @media (max-width: 768px) {
    .map-container {
      height: 250px;
    }
  
    .search-bar {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  @media (max-width: 480px) {
    .footer-toolbar {
      flex-direction: column;
    }
  
    mat-toolbar {
      font-size: 14px;
    }
  }
  