<div class="app-container">
  <!-- Map Section -->
  <section class="map-section wow fadeIn" data-wow-delay="0.1s">
    <h2 class="logo">Festbus</h2>
    <div id="map" class="map-container" style="height: 500px">
      <!-- Map content will go here (e.g., Google Maps or Leaflet) -->
    </div>
  </section>

  <!-- Search Section -->
  <section class="search-section wow fadeIn" data-wow-delay="0.3s">
    <input
      type="text"
      class="location-input"
      placeholder="Where are you heading to..."
      #searchInput
      (input)="onSearch($event)"
    />
    <!-- <button class="search-button" (click)="onSearchClickButton()">Search</button> -->
  </section>

<!-- Current Bus Stop Section -->
<section class="current-bus-stop-section wow fadeIn" data-wow-delay="0.5s" style="background-color: black">
  <h2>Current Bus Stop</h2>
  
  <!-- Loading state -->
  <div *ngIf="loadingClosestBusStop" class="loading-indicator">
    <p>Loading closest bus stop...</p>
  </div>

  <!-- Display bus stop information if available -->
  <div *ngIf="!loadingClosestBusStop">
    <p>
      Bus Stop Name: 
      <span id="current-bus-stop">{{ closestBusStop?.name || 'No bus stop found' }}</span>
    </p>
    <p>
      Available Bus: <span>{{ availableBus || 'No buses available' }}</span>
    </p>
  </div>
</section>

  <!-- Report / Contact button Section -->
  <section class="action-buttons-section wow fadeIn" data-wow-delay="0.7s">
    <div class="action-buttons">
      <button class="cancel-button"><i class="fa fa-ticket"></i><a href="/report">Report</a></button>
      <button class="cancel-button">
        <i class="fa fa-home"></i> Contact Us
      </button>
    </div>
  </section>

  <!-- Nearby Bus Stops Section -->
  <section class="nearby-section wow fadeIn" data-wow-delay="0.7s">
    <h2>Nearby Bus Stops</h2>
    <ul class="nearby-list" *ngIf="locations$ | async as Locations" style="cursor: pointer;">
      <a href="/route?query1=1st%20Avenue&query2=Egbeada%20Close">
      <li class="nearby-item" *ngFor="let busStop of Locations | slice:0:5">
        <h4 style="color: black;">{{ busStop.name }}</h4>
        <p>Available Buses: {{ busStop.buses.join(', ') }}</p>
      </li>
      </a>
    </ul>
  </section>
</div>

<!-- Conditional Loader in Angular -->
<div *ngIf="isLoading" class="loader"></div>
